<div class="row">
    <!--<uib-carousel interval="myInterval" no-wrap="noWrapSlides">
        <uib-slide ng-repeat="slide in aboutSlides" active="slide.active">
            <a href="{{slide.href}}"><div class="col-lg-7 col-xl-12 center-block"><img class="img-responsive" ng-src="{{slide.image}}" style="margin:auto;"></div></a>
        </uib-slide>
    </uib-carousel>-->
    <div class="col-lg-2"></div>
    <div class="col-lg-8  center-block" style="padding-left:0px;padding-right:0px;margin:auto;margin-top:0px;"><img class="img-responsive" style="padding-left:0px;"   src="../Images/sliders/about-slider1.png" ></div>
</div>

<div class="row"id="about">
    <div class="col-lg-2"></div>
    <div class="col-lg-8 center-block well" style="min-height:1000px; border-radius:0px;">

        <h3>About BioNex Solutions</h3>
        <!--<img class="pull-right" src="../Images/Backgrounds/about-background.png" />-->
        <p>BioNex Solutions is a privately funded life science company focused on providing customers with advanced technology systems for laboratory automation and liquid handling. San Jose, California, in the heart of Silicon Valley, serves as our manufacturing, development and corporate headquarters.</p>
        <p> Led by an experienced management and engineering team with a proven track record in driving innovation toward world class instruments and laboratory automation products, BioNex is uniquely positioned to create new hardware and software solutions for high- and low-throughput applications focusing on compound management, screening, genomics, and proteomics. Our leading edge dynamic plate handling innovations have led to strategic alliances with leading companies in the pharmaceutical, agricultural, biotech and diagnostic industries.</p>
        <p>To learn how we can apply our unique approach to automation hardware, software and liquid handling to solve your complex application problems, please email info@bionexsolutions.com, or call (408) 855-8863.</p>
        <p>We look forward to interacting with you.</p>
    </div>
</div>