
<div class="row" style="padding-top:18px;" id="bnx">
    <div class="col-lg-2"></div>
    <div class="col-lg-8 center-block well" style="height:2500px">

        <h1>BNX 1536™  LIQUID HANDLING SYSTEM</h1>

        <h5>Benchtop Microplate Dispenser and Washer in One Small Footprint</h5>


        <img class="img-responsive pull-left" src="Images/BNX1536/BNX1536.png" />
        <h3><i>Combined dispenser and washer</i></h3>
        <p>The BNX 1536 liquid handling system provides both precise dispensing and thorough microplate washing in a single instrument. The small footprint houses a built-in vacuum and air pressure pump; no external pumps are needed.</p>
        <h3><i>Four independent dispense channels</i></h3>
        <p>Each of the four reservoir bottles has its own fluid path to individual dispense heads, allowing four different fluids to be dispensed into a single microplate. A single aspiration head allows fast and efficient liquid removal from microplate wells for plate washing applications. The intuitive software provides a high degree of control over operating parameters, allowing rapid processing of robust assays and gentle processing of cell based assays. The system is robot compatible, with a robot-friendly plate carriage and accessible RS-232 COM port.</p>
        <div class="row">
            <div class="col-lg-12 features">
                <a class="btn btn-primary" href="/information.html" target="_blank" role="button">Request Quote</a>
                <a class="btn btn-primary" href="DataSheets/LIT-50002_Rev.B_BNX_1536_Liquid_Handling_System.pdf" target="_blank" role="button">Product Data sheet</a>
            </div>
        </div>
        <h3><i>Flexible Software</i></h3>
        <p>With its Windows® compatible, drag-and-drop software, the BNX 1536 provides a high degree of control over process parameters. Column selection offers the choice of dispensing only a few columns, or a complete plate. For optimal dispense accuracy, the software allows fine tuning the dispense volume using the Liquid Factor tool. Dispense pressure can be lowered for a gentler dispense when using loosely adherent cells or weakly bound antibodies. Aspiration controls allow the probe height, probe offset, aspiration rate and aspiration time to be set for lowest residual volume or gentlest processing.</p>
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="embed-responsive embed-responsive-16by9">

                    <video controls="controls" poster="Images/BNX1536/bnxposter.png">
                        <source src="video/BNX1536.mp4" type="video/mp4" />
                    </video>

                </div>
            </div>

            <div class="col-lg-6 col-md-6">
                <h3><i>Key Features and Benefits</i></h3>
                <ul>
                    <li>Configurable for 96–1536-well plates</li>
                    <li>Minimum dispense volume of 0.5 µL</li>
                    <li>Fast! Dispenses 384 wells in 8 seconds, 1536 wells in 15 seconds</li>
                    <li>Built in magnetic stirrer for uniform cell dispensing</li>
                </ul>
            </div>
        </div>
        <h3><i>Peformance Specifications</i></h3>
        <ul>
            <li>
                Dispense accuracy:

                <ul><li>±50 nL at 1 µL (2 µL for 96-well)</li></ul>
            </li>
            <li>
                Dispensing Range:
                <ul>
                    <li>  96-well format: 2.0–500 µL
                    <li>  384-well format: 0.5–140 µL
                    <li>  1536-well format: 0.5–18 µL
                </ul>
            </li>
        </ul>

        <h3><i>General Specifications</i></h3>

        <ul>
            <li>Dimensions: 15" H x 12.6" W x 24" D                 </li>
            <li> Weight (shipping): 51 pounds                       </li>
            <li> Power source: 100–240 VAC, 50/60 Hz, 2 A           </li>
            <li> Dispense/aspirate probes: Stainless steel 304      </li>
            <li> Dispense manifold: PET (polyethylene terephthalate)</li>
            <li> Dispense head: PEEK (polyether ether ketone)    </li>
            <li> Aspirate head: Aluminum                            </li>
            <li> Reservoir bottles: Polypropylene                   </li>
            <li> Fluid contact tubing: Silicone                     </li>
            <li>
                PC requirements:
                <ul>
                    <li> Win98/Me/NT/2000/XP or higher                      </li>
                    <li> 154 MB HD free space                               </li>
                    <li> 96 MB RAM (256 MB for servers)                     </li>
                </ul>
            </li>
            <li> Interface connections: RS-232                      </li>


        </ul>



    </div>
</div>
