<div class="container-fluid row" id="bumblebee" style="padding-top:36px">
    <div class="col-lg-2"></div>
    <div class="col-lg-8 center-block well" style="min-height:1800px">
        <h1 class="media-heading">BumbleBee™ SAMPLE HANDLER</h1>

        <img style="padding-right:36px; padding-left:36px;" class=" pull-right" src="Images/BumbleBee/bumblebee.png" />

        <h3><i>Speed and Flexibility in All Dimensions</i></h3>
        <p>The BumbleBee (patent pending) is an innovative sample handler designed to excel at the most complex sample transfer applications. Primarily designed to be integrated with BioNex Solution’s Hive™ Automation Platform, the BumbleBee’s independent channels and rotating sample translators enable fast, simultaneous picking-from and placing-into any location on the sample deck. </p>
        <p class="clearfix">The BumbleBee can be configured with one to eight independent channels and multiple rotating sample translators, depending on the level of throughput required. For example, transfer of liquid samples from a source plate to a destination plate, any well to any well, can be continuously sustained with transfer rates as low as 3 seconds/sample. Source and destination plates can be changed on the fly during pipetting. This facilitates unheard of performance in hit picking or cherry picking samples in plate based applications. </p>
        <div class="row">
            <div class="col-lg-12 features">
                <a class="btn btn-primary" href="/information.html" target="_blank" role="button">Request Quote</a>
                <a class="btn btn-primary" href="DataSheets/LIT-50003_Rev.A_BumbleBee_Sample_Handler.pdf" target="_blank" role="button">Product Data sheet</a>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4  col-md-4 col-sm-8">
                <h3 class="center-block">Single Channel</h3>
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe src="https://player.vimeo.com/video/198689990?title=0&byline=0" width="640" height="361" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                    <!--<p><a href="https://vimeo.com/198689990">bumblebee-picking</a> from <a href="https://vimeo.com/user61312970">BioNex Solutions</a> on <a href="https://vimeo.com">Vimeo</a>.</p>-->
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-8">
                <h3>12 Channel</h3>
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe src="https://player.vimeo.com/video/198692486?title=0&byline=0" width="640" height="361" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                </div>

            </div>
            <div class="col-lg-4  col-md-4 col-sm-8">
                <h3>96 and 384 Channel</h3>
                <div class="embed-responsive embed-responsive-16by9">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe src="https://player.vimeo.com/video/198692611?title=0&byline=0" width="640" height="361" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>

        <h3><i>Key Features and Benefits</i></h3>


        <ul class="clearfix">

            <li>Fully independent channel and plate movement for speed and flexibility in all dimensions</li>
            <li>BioNex Synapsis software optimizes workflow for optimal throughput</li>
            <li>Customizable deck for sample handling applications(shakers, stirrers, magnetic bead adapters)</li>
            <li>Compatible with 96, 384, 1536 ANSI/SBS plates, tube racks and consumables </li>
            <li>DNA purification and sequencing</li>
            <li>Adaptable to non ANSI formats </li>

        </ul>
        <!--</div>-->


        <img style="padding-right:36px; padding-left:36px;" class="img-rounded pull-right" src="Images/BumbleBee/bumblebee-channel.png" />
        <h3><i>Liquid Handling</i></h3>



        <ul>

            <li>Volume range 0.5–700 µL with 	&#60;5% CV, disposable tips</li>
            <li>Disposable or fixed tips, tip shucking and washing</li>
            <li>Exchange source and destination plates whilst pipetting</li>
            <li>Failure tolerant, independent pipetting channels</li>

            <li>Unique channel identification and cycle monitoring</li>
            <li>Snap on and off (	&#60;60 seconds) pipet/syringe modules</li>
            <li>Software adaptive error recovery </li>
        </ul>




    </div>

</div>