<div class="row">
    <!--<uib-carousel interval="myInterval" no-wrap="noWrapSlides">
        <uib-slide ng-repeat="slide in aboutSlides" active="slide.active">
            <a href="{{slide.href}}"><div class="col-lg-7 col-xl-12 center-block"><img class="img-responsive" ng-src="{{slide.image}}" style="margin:auto;"></div></a>
        </uib-slide>
    </uib-carousel>-->
    <div class="col-lg-2"></div>
    <div class="col-lg-8  center-block" style="padding-left:0px;padding-right:0px;margin:auto;margin-top:0px;"><img class="img-responsive" style="padding-left:0px;" src="../Images/sliders/about-slider1.png"></div>
</div>


<div class="row"id="about" >
    <div class="col-lg-2"></div>
    <div class="col-lg-8 center-block well" style="min-height:1000px; border-radius:0px;">
        <h1>Careers</h1>

        <h3>Why Work at Bionex Solutions?</h3>

        <p>Imagine being a part of an entrepreneurial team dedicated to innovation and expanding the boundaries of what's possible. If this is where your imagination takes you, BioNex Solutions would like to hear from you.</p>

        <p>If your expertise is in:</p>
        <ul>
            <li>Applications Engineering</li>
            <li>Software Engineering</li>
            <li>Hardware Engineering</li>
            <li>Field Service Engineering</li>
        </ul>

        <p>...and you want to make an impact in a challenging environment, submit your resume/CV to:</p>
        <p style="margin-left:30px;"><a href="mailto:careers@bionexsolutions.com">careers@bionexsolutions.com</a></p>
        <p>Our unique reward package includes a flexible time off program and an outstanding benefits package.</p>
        <!--
        <h1>Current Openings</h1>

        <p>Field Customer Service Manager</p>
        <p>Software Engineer - Robotics & Automation</p>
        <p>Mechanical Engineer - Robotics & Automation</p>
        <p>Quality Systems Administrator</p>
            -->

    </div>
</div>