<div id="home">
    <!--<div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-12" style="height:12px;"></div>
    </div>-->
    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8" style="border: solid; border-color:#D7D6D6;border-width:1px;border-bottom:none; background-color:rgba(0, 0, 0, 0.69);">
            <p style="color:white;font-size:small">BioNex Solutions quality system is certified to ISO 13485 and ISO 9001</p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-2"></div>
        <!--[if gte IE 9]>;<!-->

        <div class="col-lg-4" style="padding:0px;border: solid; border-color:#D7D6D6;border-width:1px;">
            <uib-carousel interval="myInterval">
                <uib-slide ng-repeat="slide in slides" active="slide.active">
                    <a href="{{slide.href}}"><div><img class="img-responsive" style="width:100%;padding:0px;" ng-src="{{slide.image}}"></div></a>

                </uib-slide>
            </uib-carousel>
        </div>

        <div class="col-lg-2 col-md-2" style="padding:0px;border: solid; border-color:#D7D6D6;border-width:1px;">
            <img style="width:100%;" class="img-responsive" src="../Images/sliders/Plateonhive2.png" />
        </div>
        <div class="col-lg-2 col-md-2" style="padding:0px;  border: solid; border-color:#D7D6D6;border-width:1px;">
            <img style="width:100%;" src="../Images/sliders/slas.png" />
        </div>
        <div class="col-lg-2"></div>
    </div>
    <div class="row" >
        <div class="col-lg-2"></div>
        <div class="col-lg-8" style="border: solid; border-color:#D7D6D6;border-width:1px;border-bottom:none; background-color:rgba(0, 0, 0, 0.69);">
            <p style="color:white;font-size:small">BioNex Solutions quality system is certified to ISO 13585 and ISO 9001</p>
        </div>
    </div>
    <div class="row is-table-row">
        <!--<div class="col-lg-2"></div>-->
        <div class="col-lg-4" style="border: solid; border-color:#D7D6D6;border-width:1px;border-bottom:none; background-color:rgba(0, 0, 0, 0.69); border-right:none;">
            <h3 style="color:white;">Cahow!</h3>
            <p style="color:white;font-size:small">
                Lorem ipsum dolor sit amet, amet morbi praesent mollis at sem in, tincidunt diam, nulla eros ultrices, potenti aenean a in integer. Nonummy mi, tempor leo nulla eget, aliquam natoque netus dolor, phasellus commodo consectetuer mauris ipsum nascetur, viverra sem vestibulum. Porta quam lectus non magnis vitae, leo mattis sit, metus nisl felis. Ut vestibulum at habitasse, vehicula habitasse wisi elit nulla, praesent odio neque ante praesent aliquam egestas. Mauris vel diam semper nunc, donec eu quis, tortor et wisi dignissim nam eget quam, nunc pede pharetra aenean ut proin, sem mauris. Sed maecenas ac sit blandit rutrum, dui porta, dapibus mattis etiam fringilla a vitae penatibus, bibendum sed dignissim, hendrerit at eu. Justo dui, deserunt eu leo mi nulla semper, et feugiat, laoreet sit.
            </p>
        </div>
        <div class="col-lg-4" style="border: solid; border-color:#D7D6D6;border-width:1px;border-bottom:none; background-color:rgba(0, 0, 0, 0.69); border-left:none;">
            <h3 style="color:white;">Boom!</h3>
            <p style="color:white;font-size:small;">
                Cupiditate nec ac aliquam, mi nostra dui nullam, scelerisque augue et volutpat risus quis.
                     </p>
                <img  style="max-width:200px; padding-left:12px;" class="pull-right" src="../Images/Lazer/SLAS.png" />
            <p style="color:white;font-size:small">
                Donec dis ullamcorper tincidunt potenti, nisl et duis orci id at odio. Ipsum in lectus leo, commodo sollicitudin nunc felis, dolor turpis.
Integer adipiscing, duis vestibulum mauris vestibulum mollis lobortis sodales, malesuada rhoncus orci imperdiet eu, tortor ut arcu, morbi egestas duis ut. Ac massa dolor pellentesque mi pretium, orci vestibulum sit commodo vitae.
            </p>
        </div>
    </div>


    <div class="row">
        <div class="col-lg-12 col-md-12 center-block" id="home-footer">
            <!--<div class="row" id="footer-background">
                <div class="col-lg-12 col-xl-12">
                    <img class="img-responsive col-lg-10 " src="Images/Backgrounds/multi_background.png" />
                </div>
            </div>-->
            <div class="row inner-footer" id="">


                <div class="col-lg-10">
                    <!--<div class="row center-block">
                        <div class="col-lg-1 visible-lg"></div>
                        <div class="col-lg-10 ">
                            <div class="row">

                                <div class="col-lg-6 col-md-6">
                                    <div class="">
                                        <a href="slas.html"><img class="img-responsive" src="../Images/sliders/SLASfooter.png" /></a>
                                    </div>

                                </div>
                                <div class="col-lg-6 col-md-6 ">
                                    <div class="">
                                        <a href="Images/BioNex-Solutions-ISO-Cert.pdf" target="_blank"><img class="img-responsive" src="../Images/sliders/isofooter.png" /></a>
                                    </div>
                                </div>
                            </div>

                        </div>


                    </div>-->




                </div>

            </div>

            <!--<hr >-->
     
           
            <!--<hr>-->
        </div>

    </div>
    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8" style="border: solid; border-color:#D7D6D6;border-width:1px;border-top:none; background-color:rgba(0, 0, 0, 0.69);padding-top:12px; padding-bottom:12px;">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3"></div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"><a href="http://twitter.com/bionex" target="_blank"><img style="height:30px; width:30px;" src="/Images/social/twitter.png" class="social-media" /></a></div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"><a href="https://www.linkedin.com/company/bionex-solutions" target="_blank"><img style="height:30px; width:30px;" src="/Images/social/linkedin.png" class="social-media" /></a></div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"><a href="https://www.facebook.com/BioNexSolutionsInc" target="_blank"><img style="height:30px; width:30px;" src="/Images/social/facebook.png" class="social-media" /></a></div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"><a href="https://vimeo.com/user61312970" target="_blank"><img  style="height:30px; width:30px;" src="/Images/social/vimeo.png" class="social-media" /></a></div>
        
        </div>
    </div>
</div>
