<div id="home" style="position:relative">

    <!--[if gte IE 9]><!-->
    <!--<div class="hidden-xs">
        <uib-carousel interval="myInterval" no-wrap="noWrapSlides">
            <uib-slide ng-repeat="slide in slides" active="slide.active">
                <a href="{{slide.href}}"><div class="col-lg-7 col-xl-12 center-block"><img class="img-responsive" ng-src="{{slide.image}}" style="margin:auto;"></div></a>
            </uib-slide>
        </uib-carousel>
    </divhttps://vimeo.com/198689990>-->
    <div class="fittobox ">

        <!--<iframe src="https://player.vimeo.com/video/198692486?color=ffffff&title=0&byline=0&portrait=0&autoplay=true&loop=true" width="100%" height="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>-->
        <iframe src="https://player.vimeo.com/video/198692486?color=ffffff&title=0&byline=0&portrait=0&autoplay=true&loop=true" width="1600" height="899" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>


    </div>

    <!--<![endif]-->
    <!--[if lt IE 9 ]><div id="jquery-slider"></div><![endif]-->
    <div style="position:absolute;top:425px; width:100%; min-height:100%; " class="footer-gradient">

        <!--background-color:rgba(255, 255, 255, 0.61)-->

        <div class="row">
            <!--[if lt IE 9 ]>
                <div class="col-lg-2"></div>
            <![endif]-->

            <div class="col-lg-1"></div>
            <div class="col-lg-10 center-block" style="display:table-cell;  vertical-align: middle;">
                <div class="row">
                    <div class="col-lg-1 col-md-1"></div>
                    <div class="col-lg-10">
                        <div class="row">
                            <!--<div class="col-lg-1"></div>-->

                            <div class="col-lg-6 col-md-12">
                                <div class="">
                                    <a href="slas.html"><img class="img-responsive" src="../Images/sliders/SLASfooter.png" /></a>
                                </div>

                            </div>
                            <div class="col-lg-6 col-md-12 ">
                                <div class="">

                                    <a href="Images/BioNex-Solutions-ISO-Cert.pdf" target="_blank"><img class="img-responsive" src="../Images/sliders/ISOfooter.png" /></a>



                                </div>
                            </div>


                        </div>

                        <!--<div class="row">
                            <div class="col-lg-6 col-md-12">
                                <div class=" clearfix">
                                    <a href="partnership.html">
                                        <img class="img-responsive" src="../Images/sliders/partnership.png" />
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12">
                                <div class=" clearfix">
                                    <a href="#"><img class="img-responsive" src="../Images/sliders/about.png" /></a>
                                </div>
                            </div>
                        </div>-->

                    </div>


                </div>
                <!--<div class="col-lg-3 col-md-12" >
                <div class="thumbnail" id="thumbnail-3" style="overflow:auto; height:296px;">


                    <div class="caption">

                        <h3>Strategic Partnership</h3>
                        <img class="pull-right" src="Images/thumbnails/agilent-biocel.png" />
                        <p> BioNex Solutions is the sole provider of Agilent custom integrated solutions. </p>
                        <a href="/partnership.html" class="btn btn-primary dropper" role="button">Learn More!</a>
                    </div>
                    </div>



                </div>-->


            </div>

        </div>




    </div>
</div>
