<div class="container-fluid" id="lazer" style="padding-top:36px">
    <div class="col-lg-2"></div>
    <div class="col-lg-8 center-block well clearfix">


        <img style="padding-right:50px;" class="pull-left" src="Images/Lazer/Lazer.png" />
        <h3 ><i>The Stinger Labware Laser Engraver</i></h3>
        <p class="clearfix">The Stinger labware laser engraver is next-generation technology to provide direct indelible microplate marking that is far superior to conventional printed labels. The BeeCode laser marks directly on the microplate surface, thereby eliminating the possibility of adhesive-backed labels becoming detached.</p>
        <hr>

        <img style="padding-right:50px;" class="pull-left" src="Images/stacker/platefeeder.png" />
        <h3><i>HD Stack</i></h3>
        <p class="clearfix">High Density Plate Storage in a Small Footprint.</p>
        <hr>
        <img style="padding-right:50px;" class="pull-left" src="Images/Hive/next-gen-hive.png" />
        <h3><i>Next Gen Hive</i></h3>
        <p class="clearfix">Insert Catchy Marketing lingo here.</p>
        </div>
</div>


