<div class="container-fluid" id="lazer" style="padding-top:36px">
    <div class="col-lg-2"> </div>
    <div class="col-lg-8 center-block well ">

        <h1>BeeCode</h1>

        <h4>Laser Marking System</h4>

        <img class="pull-left" src="Images/Lazer/Lazer.png" />

        <h3><i>Permanent Indelible Marking</i></h3>
        <p>The BeeCode Laser Marking System is next-generation technology to provide direct indelible microplate marking that is far superior to conventional printed labels.  The BeeCode laser marks directly on the microplate surface, thereby eliminating the possibility of adhesive-backed labels becoming detached due to poor adhesion, humidified environment, centrifugation, solvent contact or other interferences that typically plague print-and-apply labelers.  Adhesive labels, ribbons, thermal paper or any other types of consumables are not needed.</p>
        <h3><i>Imprint true-font text, graphics, logos, 1D barcodes, 2D barcodes and more</i></h3>
        <p>Flexible laser positioning allows text, graphics and barcodes to be placed at any location on any side of the microplate with the imprint area not being constrained by label size.  Software controlled laser operating parameters provide optimum marking performance on a wide variety of microplate materials, colors, and heights.  The automatic enclosure provides complete protection from laser radiation while allowing safe viewing of the marking operation.  The rotating plate pad allows the BeeCode to easily process plates in portrait or landscape mode, and the compact footprint permits easy integration into laboratory automation systems. </p>

        <h3><i>Tunable laser marks a wide variety of materials</i></h3>
        <p>The BeeCode Laser Marking System provides the ultimate in cradle-to-grave microplate traceability.  Its direct indelible marking provides a complete consumables-free solution for the most demanding applications in manufacturing, drug discovery, genomics and clinical diagnostic applications.</p>

        <div class="row">
            <div class="col-lg-12 features">
                <a class="btn btn-primary" href="/information.html" target="_blank" role="button">Request Quote</a>
                <a class="btn btn-primary" href="DataSheets/" target="_blank" role="button">Product Data sheet</a>
            </div>
        </div>
        <div class="row">

            <div class="col-lg-6 col-md-5">

                <h3><i>Key Features and Benefits</i></h3>
                <ul>
                    <li><strong>Permanent indelible marking cannot be washed off </strong></li>
                    <li><strong>Compatible with all barcode formats </strong></li>
                    <li><strong>Marks polystyrene, polypropylene, polyolefin and chocolate materials (TBD)  </strong></li>
                    <li><strong>Compatible with clear, translucent, white, black or madras microplates (TBD)</strong></li>
                    <li><strong>Rotating plate stage allows microplate entry and exit in any orientation</strong></li>
                    <li><strong>Easily integrated into microplate handling and automation systems</strong></li>
                </ul>
            </div>

            <div class="col-lg-3 col-md-4">

                <h3><i>Typical Applications</i></h3>

                <ul>
                    <li>Assay automation</li>
                    <li>Genomics</li>
                    <li>Clinical diagnostics</li>
                    <li>Veterinary diagnostics</li>
                    <li>DNA purification and sequencing</li>
                    <li>Microplate-based manufacturing</li>
                </ul>
            </div>

            <div class="col-lg-3  col-md-4 ">
                <h3><i>General Specifications</i></h3>
                <ul>
                    <li><strong>Dimensions:</strong> 409mm H x 258mm W x 560mm D</li>
                    <li><strong>Weight:</strong> 67 pounds</li>
                    <li><strong>Loading:</strong> Portrait or Landscape</li>
                    <li><strong>Communication:</strong> USB</li>

                    <li><strong>Electrical:</strong> 100–240 VAC, 50/60 Hz, 15 A</li>
                </ul>
            </div>
        </div>
    </div>
</div>
