<div class="container-fluid" id="lazer" style="padding-top:36px">
    <div class="col-lg-2"></div>
    <div class="col-lg-8 center-block well ">

        <h1>Stinger LABWARE LASER ENGRAVER</h1>

        <h3><i>Permanent marking cannot be washed off</i></h3>

        <img class="pull-right" src="Images/Lazer/Lazer.png" />


        <p>The Stinger labware laser engraver is next-generation technology to provide direct indelible microplate marking that is far superior to conventional printed labels.  The Stinger marks directly on the labware surface, thereby eliminating the possibility of adhesive-backed labels becoming detached due to poor adhesion, humidified environment, centrifugation, solvent contact or other interferences that typically plague print-and-apply labelers.  Adhesive labels, ribbons, thermal paper or any other types of consumables are not needed.</p>
        <img src="/Images/Lazer/cryovial.png" />
        <h3><i>Imprint true-font text, graphics, logos, 1D barcodes, 2D barcodes and more</i></h3>

        <p>Flexible laser positioning allows text, graphics and barcodes to be placed on both the long side and short side of labware, with the imprint area not being constrained by a label size.  Software controlled laser operating parameters provide optimum marking performance on a wide variety of labware materials, colors, and heights.  The automatic enclosure provides complete protection from laser radiation while allowing safe viewing of the marking operation.  The rotating plate pad allows the Stinger to easily process ANSI-/SLAS compatible labware in portrait or landscape mode, and its compact footprint permits easy integration into laboratory automation systems.</p>

        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-8">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe src="https://player.vimeo.com/video/201317510?title=0&byline=0" width="640" height="361" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-8" style="padding-top:36px;">
                <img class="img-responsive" src="Images/Lazer/plate.png" />

            </div>
        </div>



        <h3><i>Tunable laser marks a wide variety of materials</i></h3>
        <p>            The Stinger laser engraver provides the ultimate in labware traceability.  Its direct indelible marking provides a complete consumables-free solution for the most demanding applications in manufacturing, drug discovery, genomics and clinical diagnostic applications.</p>
        <div class="row">
            <div class="col-lg-12 features">
                <a class="btn btn-primary" href="/information.html" target="_blank" role="button">Request Quote</a>
                <a class="btn btn-primary" href="DataSheets/LIT-50019_Stinger_Laser_Engraver.pdf" target="_blank" role="button">Product Data sheet</a>
            </div>
        </div>
        <div class="row">

            <div class="col-lg-7 col-md-5">

                <h3><i>Key Features and Benefits</i></h3>
                <ul>
                    <li><strong>Permanent marking cannot be washed off </strong></li>
                    <li><strong>Compatible with all barcode formats and pre-labeled microplates</strong></li>
                    <li><strong>Marks polystyrene, polypropylene and polyolefin materials</strong></li>
                    <li><strong>Compatible with clear, translucent, white and black microplates</strong></li>
                    <li><strong>Rotating plate stage allows microplate entry and exit in any orientation</strong></li>
                    <li><strong>Easily integrated into microplate handling and automation systems</strong></li>
                </ul>
            </div>

            <div class="col-lg-5 col-md-4">

                <h3><i>Typical Applications</i></h3>

                <ul>
                    <li>Assay automation</li>
                    <li>Genomics</li>
                    <li>Clinical diagnostics</li>
                    <li>Veterinary diagnostics</li>

                    <li>Microplate-based manufacturing</li>
                </ul>
            </div>


        </div>
        <div class="row">
            <div class="col-lg-12  col-md-12">
                <h3><i>General Specifications</i></h3>
                <ul>
                    <li><strong>Height:</strong> 409 mm [16.1in]</li>
                    <li><strong>Width (inches):</strong> 259 mm [10.2in]</li>
                    <li><strong>Depth (inches):</strong> 559 mm [22.0in]</li>
                    <li><strong>Weight (pounds):</strong> 30.4 kg [67lbs]</li>
                    <li><strong>Loading:</strong> Portrait or Landscape</li>
                    <li><strong>Throughput for 1 Barcode:</strong> 10 seconds/plate</li>
                    <li><strong>Throughput for 12 Barcode:</strong> 35 seconds/plate</li>
                    <li><strong>Maximum Vessel Height:</strong> 66 mm for long side engraving, 33 mm for short side engraving</li>
                    <li><strong>Available Sides for Engraving:</strong> NESW</li>
                    <li><strong>Laser</strong> Class 4</li>
                    <li><strong>Operating Temperature</strong> 15º-35ºC</li>
                    <li><strong>Humidity</strong> 10 – 85%, non-condensing</li>

                    <li><strong>Communication:</strong> USB 2.0</li>

                    <li><strong>Electrical:</strong> 100–240 VAC, 50/60 Hz, 15 A</li>
                </ul>
            </div>
        </div>
    </div>
</div>
