<div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-8 center-block  well"style="min-height:2500px;">



        <h1>Synapsis™ Automation Software</h1>
        <img class="pull-left" style="padding-right:36px;" src="Images/Synapsis/synapsis-protocol.png" />
        <p> Synapsis was developed in-house to focus on a specific customer problem and attack it with high-performing, easy-to-use software. It is driven by work lists either created via a LIMS system or by the user. In most instances, liquid handling is the central task and other tasks occur pre- or post-liquid handling.</p>

        <p>Synapsis has four core modules: comprehensive logging, device plugin management, error handling and diagnostics. Based on the specific application and customer requirements, the Synapsis GUI is customized by BioNex Solutions to enable flexible control over important variables without sacrificing reliability</p>
        <img class="clearfix" style="padding-left:48px;" src="Images/Synapsis/synapsis-overview.png" />
      
            <img  class="pull-right" style="width:800px;padding:36px;" src="Images/Synapsis/synapsis-interface.png" />
            <h3>Key Benefits</h3>

            <ul class="clearfix">
                <li>Written in C# for highest reliability and improved memory management</li>
                <li>GUI is tailored to best fit customer workflow</li>
                <li>Compatible with XML and CSV liquid-handling work lists</li>
                <li>Comprehensive data logging with full archival storage and SQL data mining capabilities</li>
                <li>Error management enables easy recovery and eliminates nuisance errors</li>
                <li>Diagnostics and teaching modules</li>
                <li>Axis-monitoring system used to track system health and prevent mechanical failures</li>
            </ul>


            <img style="padding-right:36px;padding-top:36px;" class="pull-right" src="Images/Synapsis/synapsis-teaching.png" />
            <h3 style="padding-top:36px;">Setup & Teaching</h3>

            <p>Setup and teaching are performed during system factory setup, but if re-teaching is required, Synapsis includes a user-friendly module dedicated to controlling each axis of the system discretely, enabling precise control in setting teachpoints.</p>

            <h3 style="padding-top:48px; ">Error Logging</h3>

            <p>The Errors tab is auto-selected any time an error occurs during protocol execution. An alert tone is played to attract the user's attention and all unhandled errors are highlighted in red.</p>

            <img style="padding-left:106px;"class="img-responsive" src="Images/Synapsis/synapsis-error.png" />
            <p class="clearfix"></p>
            <img style="padding-right:36px;" class="pull-right" src="Images/Synapsis/diagnostics.png" />
            <h3 style="padding-top:36px;">Diagnostics</h3>

            <p >The Diagnostics menu enables the user to view device-dependent diagnostics for each device on the platform. Diagnostics provides both high-level tasks (e.g., picking and placing labware, pressing on tips, removing tips), and low-level device testing (e.g., jogging and homing individual motors).</p>

       
</div>
</div>






