<div class="row" id="systems" > 
    <div class="col-lg-8 center-block well">
        <h1>Systems</h1>
        <p>BioNex Solutions is revolutionizing laboratory automation by rethinking productivity, reliability, and flexibility. Our system designs focus on eliminating the "idle time" of each operation in a workflow (e.g., microplate handling, material transfer, etc…). Each system is easily customized with proven standard products to automate any application.</p>
        
        <!--
        <p>Our approach is to develop a strong relationship with each customer that continues long after the platform installation. Our team of engineers and scientists have decades of experience in drug discovery, molecular biology and laboratory robotics; allowing us to fully comprehend and execute your automation goals. We use the latest collaborative tools to foster this relationship and streamline communications in which daily updates are common. This transparency gives us the flexibility required to adapt to your ever changing application requirements. Let us transform your workflow using next-generation automation today.</p>
            -->


        <img class="pull-left" style="padding-right:36px; padding-left:36px;" src="Images/robot/DDR-small.png">



        <img class="pull-right" src="Images/systems/cmpd-management-iso2.png" width="150" />
        <h3>Direct Drive Robot</h3>
        <p class="clearfix">An exceptionally fast robot with a 360 degree reach, enabling highly flexible and configurable system designs for high throughput applications.</p>

        <img style="padding-right:36px; padding-left:36px;" class="img-rounded pull-left" src="Images/Hive/hive-robot-small.png">
        <img class="pull-right " src="Images/systems/hive-a.png" width="150" />
        <h3>Hive Robot</h3>
        <p class="clearfix">Designed for vertical integration the Hive Robot utilizes space above and below the reach of a standard robotic arm.</p>




        <img style="padding-right:36px; padding-left:36px; " class="img-rounded pull-left" src="Images/robot/benchbot.png">
        <img class="pull-right " src="Images/systems/Genomics IsoView2.png" width="150" />
        <h3>BenchBot</h3>
        <p class="clearfix">A compact and sophisticated microplate handling robot for medium throughput applications, whether integrated on a lab bench or on a platform.</p>


        <div class="row">
            <div class="col-lg-12 features">
                <a class="btn btn-primary" href="/information.html" target="_blank" role="button">Request Quote</a>
                <a class="btn btn-primary" href="DataSheets/LIT-50007_Rev.B_Systems_Custom_Laboratory_Automation.pdf" target="_blank" role="button">Product Data sheet</a>
            </div>
        </div>

       
        <img class="pull-left " style="padding-right:36px;padding-top:36px;" src="Images/VWorks/VWorks.png" />
        <h3><a href="#/vworks">VWorks Automation Control Software</a></h3>
        <p class="clearfix">
            At the heart of BioNex Systems is the proven VWorks Automation Control Software. It’s outstanding event-driven controller and innovative error recovery technology is fast becoming the standard for controlling a wide range of automation systems at the world’s leading pharmaceutical and biotechnology companies.</p>

            <h3>Key Features and Benefits</h3>

            <ul>
                <li>Scalable: From small benchtop workstations to large microplate manufacturing systems, BioNex will design a custom automation platform to meet your needs. </li>
                <li>Fast: Combine a reliable robot with the most sophisticated automation control software to achieve unsurpassed throughput capabilities.</li>
                <li>Expandable: Hardware and software architecture allow seamless expansion as your research needs grow.</li>
                <li>Affordable: With a diverse range of robots and platforms, BioNex makes automation affordable for any laboratory.</li>
            </ul>
      
            <h3>APPLICATIONS</h3>

            <div style="overflow:hidden;">
                <div style="float:right;width:300px;text-align:center;margin-top:-5px;">
                    <img src="Images/Hive/hive-small.png" width="300" />
                </div>

                <ul>
                    <li>Next-generation sequencing</li>
                    <li>DNA extraction</li>
                    <li>PCR sample preparation</li>
                    <li>Drug Discovery</li>
                    <li>High-throughput screening</li>
                    <li>Compound management</li>
                    <li>Cell-based assays</li>
                    <li>Microplate-based cell maintenance</li>
                    <li>Secondary screening and ADMET assays</li>
                    <li>Enzyme assays</li>
                </ul>
            </div>
    </div>


</div>