<div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-8 center-block well">
        <h1>VWorks™ Automation Control Software</h1>

        <div class="row">
            <div class="col-lg-6 col-md-7 col-sm-8 ">
                <p>VWorks Automation Control Software is a complete and reliable solution for driving the integrated laboratory automation throughout the discovery process.</p>
                <p>The VWorks software platform enables research enterprises to integrate a diverse group of devices such as robotics, liquid handlers, readers, washers, and others to deliver a cohesive, integrated system that ensures maximum throughput and optimal resource utilization. An intuitive and graphical user interface makes it easier for users to create new protocols, connect and configure devices, execute and monitor progress. A single scalable and dynamic software platform in your laboratories means you can reduce training costs and maximize productivity while expanding into a complex network of devices.</p>
               
            </div>
            <div class="col-lg-6 col-md-5 col-sm-4">
                <img class="img-responsive center-block" src="Images/VWorks/vwscreenshot.png" />
            </div>
        </div>

        <a class="btn btn-primary" href="/information.html" target="_blank" role="button">Request Quote</a>
        <a class="btn btn-primary" href="DataSheets/LIT-50008_Rev.B_VWorks_Automation_Control_Software.pdf" target="_blank" role="button">Product Data sheet</a>
        <a class="btn btn-primary" href="DataSheets/LIT-50009_Rev.B_VWorks_Device_Drivers.pdf" target="_blank" role="button">Device Driver Data Sheet</a>
        <h3>Key Features and Benefits</h3>
        <div style="padding-left:36px;">
            <div class="row">
                <div class="col-lg-4 col-md-4">
                    <h4><strong>Keep it Simple</strong></h4>
                    <p>VWorks Forms allow power users to easily create simple to use interfaces for powerfull protocols. </p>
                </div>
                <div class="col-lg-7 col-md-7">
                    <h4><strong>Meet Changing Requirements</strong></h4>
                    <p> Add and configure new devices using any programing language, and communicate with external Laboratory Information Systems (LIMS). Leverage existing, familiar informatics infrastructure. Deploy protocols by using flexible APIs to communicate directly with LIMS for managing barcodes, samples, labware, liquids, users and workflows.</p>
                </div>
                <img class="img-responsive" src="Images/VWorks/Forms.png" />


            </div>
            <div class="row">
                <div class="col-lg-4 col-md-4">
                    <h4><strong>Execute Multiple Protocols Simultaneously</strong></h4>
                    <p>Maximize resource utilization and throughput by running multiple protocols simultaneously. Schedule and start a run while existing protocols are already running or start multiple protocols at a fixed time and date.</p>
                </div>
                <div class="col-lg-4 col-md-4">
                    <!-- <img style="padding-left:48px;" src="../Images/VWorks/simultaneous_protocols.png" />-->
                    <h4><strong>Remove bottlenecks to improve performance</strong></h4>
                    <p> Monitor a Gantt Chart for real time status of processes, plate instances, and devices.</p>
                    <h4 style="padding-top:12px;"><strong>Reduce operating costs</strong></h4>
                    <p> Use the Hit Pick Wizard to automate cherry picking based on an input work list, and capture plate replication and dilution data.</p>

                </div>
                <div class="col-lg-4 col-md-4">
                    <h4><strong>Maximize walkaway time</strong></h4>
                    <p>Maximize walkaway time: Reduce the number of interruptions and maximize walk-away time. By preloading a default set of errors and responses in the error handling library, a recovery action is automatically performed when an error is encountered during a protocol run.</p>

                </div>
            </div>
            <img class="img-responsive" src="Images/VWorks/errorlibrary.png" />
            <h4><strong>Get the answers when you need them</strong></h4>
            <p>VWorks Context-Sensitve Help allows operators to quickly access help documentation by clicking on any Icon in VWorks</p>
            <div class="row ">
                <div class="col-lg-12 ">
                    <img class="img-responsive center-block" src="Images/VWorks/help.png" />
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-4">
                    <h4 class="features"><strong>Set time constraints</strong></h4>
                    <p>Improve performance for time-critical assays by specifying the interval and tolerance between dependent tasks. The software obeys the time constraint before proceeding to the next task.</p>
                    <h4 style="padding-top:12px;"><strong>Streamline protocol writing</strong></h4>
                    <p>Group commonly repeated tasks into Group Macros. Write JavaScript in VWorks protocols intuitively using a pull-down menu of available variables.</p>
                </div>
                <div class="col-lg-4 col-md-4">
                    <h4 class="features"><strong>Minimize delays</strong></h4>
                    <p>Use the System State Editor to recover from deadlocks and continue with the run especially in complex protocols. Upon a deadlock, the system automatically captures the state of the run, including the status of devices, location of the labware, and the cause of the error. This information enables the user to rapidly assess and correct the error by physically moving the labware, and editing and resetting the status of devices and labware location for the run to complete successfully</p>

                </div>
                <div class="col-lg-4 col-md-4">
                    <h4 class="features"><strong>Data Driven Control</strong></h4>
                    <p>Leverage automation with a controller that executes protocols based on dynamic data presented in real time. Optimize resource utilization with the ability to conditionally change task behavior at run time providing the flexibility for the same protocol to handle multiple scenarios and enabling real time multiprocessing</p>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-4 col-md-4">
                    <h4 class="features"><strong>Event Driven Protocols</strong></h4>
                    <p>Reduce lag time and boost throughput by processing plates as soon as both the plates and system resources become available</p>
                </div>
                <div class="col-lg-8 col-md-8">
                    <h4 class="features"><strong>True Device Pooling</strong></h4>
                    <p>Increase reliability and walk-away time through intelligent routing of plate processing tasks to appropriate operating devices. With multiple devices of the same type available in a system, the software will automatically use the next available device in case of an error or bottleneck.</p>

                </div>

            </div>
        </div>

    </div>

</div>
